#chat_area {
  overflow-y: auto;
}

.font-20 {
  font-size: 20px;
}

.text-input-align {
  text-align: center;
}

.text-align-input {
  text-align: center;
}

.sign-in-button {
  text-align: center;
}

.button-algin {
  text-align: center;
}

.image-align {
  text-align: right;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
}

@media (max-width: 1199px) {
  .form_text_center {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .form_text_center {
    margin-top: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .form_text_center {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .form_text_center {
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .form_text_center {
    margin-left: auto;
  }
}

@media (max-width: 991px) {
  .form_text_center {
    margin-left: auto;
  }
}

/* Faisal css */

.hide {
  display: none;
}

.err {
  color: red;
}

@media (max-width: 500px) {
  .buy_form {
    width: 90%;
  }
}

@media (min-width: 501px) and (max-width: 689px) {
  .buy_form {
    width: 80%;
  }
}

@media (min-width: 690px) and (max-width: 1100px) {
  .buy_form {
    width: 60%;
  }
}

@media (min-width: 1101px) {
  .buy_form {
    width: 40%;
  }
}
